<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="home_assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="home_assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="home_assets/css/Advanced-Pricing-Cards.css">
    <link rel="stylesheet" href="home_assets/css/beautiful-info-alert.css">
    <link rel="stylesheet" href="home_assets/css/Card-Deck.css">
    <link rel="stylesheet" href="home_assets/css/Effective-Pricing-Cards.css">
    <link rel="stylesheet" href="home_assets/css/Model-Card-Style-1.css">
    <link rel="stylesheet" href="home_assets/css/untitled.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="profile.html"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="table.html"><i class="fas fa-table"></i><span>Table</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="register.html"><i class="fas fa-user-circle"></i><span>Register</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button><button class="btn btn-primary py-0" type="button" style="height: 50px;"><i class="fas fa-search"></i></button>
                        <button
                            class="btn btn-primary py-0" type="button" style="height: 50px;"></button>
							<button
                            class="btn btn-primary py-0" type="button" style="background-color: rgb(255,255,255);color: rgb(7,5,5);"> go to this</button>
							
							
                            <div class="dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="login.html"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Valerie Luna</span></a>
                                <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"
                                    role="menu"><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                    <a
                                        class="dropdown-item" role="presentation" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                            </div>
                            
							<div class="dropdown no-arrow"><a style="text-decoration: none;" aria-expanded="false" href="login.html"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Valerie Lunahjghjghjhjhjhjh</span></a>
                                
                            </div>
                            
							<form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                <div class="input-group">
                                    <div class="input-group-append"></div>
                                </div>
                            </form>
                            <ul class="nav navbar-nav flex-nowrap ml-auto">
                                <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                        <form class="form-inline mr-auto navbar-search w-100">
                                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                                    <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                                            role="menu">
                                            <h6 class="dropdown-header">alerts center</h6>
                                            <a class="d-flex align-items-center dropdown-item" href="#">
                                                <div class="mr-3">
                                                    <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                                </div>
                                                <div><span class="small text-gray-500">December 12, 2019</span>
                                                    <p>A new monthly report is ready to download!</p>
                                                </div>
                                            </a>
                                            <a class="d-flex align-items-center dropdown-item" href="#">
                                                <div class="mr-3">
                                                    <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                                </div>
                                                <div><span class="small text-gray-500">December 7, 2019</span>
                                                    <p>$290.29 has been deposited into your account!</p>
                                                </div>
                                            </a>
                                            <a class="d-flex align-items-center dropdown-item" href="#">
                                                <div class="mr-3">
                                                    <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                                </div>
                                                <div><span class="small text-gray-500">December 2, 2019</span>
                                                    <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                                </div>
                                            </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                                    <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-envelope fa-fw"></i><span class="badge badge-danger badge-counter">7</span></a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                                            role="menu">
                                            <h6 class="dropdown-header">alerts center</h6>
                                            <a class="d-flex align-items-center dropdown-item" href="#">
                                                <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar4.jpeg">
                                                    <div class="bg-success status-indicator"></div>
                                                </div>
                                                <div class="font-weight-bold">
                                                    <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                                    <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                                </div>
                                            </a>
                                            <a class="d-flex align-items-center dropdown-item" href="#">
                                                <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar2.jpeg">
                                                    <div class="status-indicator"></div>
                                                </div>
                                                <div class="font-weight-bold">
                                                    <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                                    <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                                </div>
                                            </a>
                                            <a class="d-flex align-items-center dropdown-item" href="#">
                                                <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar3.jpeg">
                                                    <div class="bg-warning status-indicator"></div>
                                                </div>
                                                <div class="font-weight-bold">
                                                    <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                                    <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                                </div>
                                            </a>
                                            <a class="d-flex align-items-center dropdown-item" href="#">
                                                <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar5.jpeg">
                                                    <div class="bg-success status-indicator"></div>
                                                </div>
                                                <div class="font-weight-bold">
                                                    <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                                    <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                                </div>
                                            </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                                    </div>
                                    <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
                                </li>
                                <div class="d-none d-sm-block topbar-divider"></div>
                                <li class="nav-item dropdown no-arrow" role="presentation">
                                    <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Valerie Luna</span></a>
                                        <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"
                                            role="menu"><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                            <a
                                                class="dropdown-item" role="presentation" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                                                <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                                    </div>
                                </li>
                            </ul>
                    </div>
                </nav>
                <div class="row" style="margin: 0px - 12px;">
                    <div class="col-10 col-xl-9 text-center" style="margin-left: 0px;padding: 0px;padding-left: 12px;padding-right: 12px;"><input class="bg-light border-0 small" type="text" placeholder="Search for ..." style="padding: 0px;padding-top: 0px;padding-left: 4px;height: 37px;width: 150px;padding-right: 0px;padding-bottom: 0px;"><button class="btn btn-primary py-0"
                            type="button" style="height: 37px;width: 36px;padding-left: 12px;"><i class="fas fa-search"></i></button></div>
                    <div class="col">
                        <div class="dropdown no-arrow" style="padding-left: 0px;height: 11px;"><a class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button" style="height: 40px;padding-top: 0px;padding-left: 0px;padding-right: 12px;padding-bottom: 4px;"><i class="fas fa-bell fa-fw" style="height: 16px;padding-top: 9px;padding-left: 0px;padding-right: 12px;"></i></a>
                            <div
                                class="dropdown-menu dropdown-list dropdown-menu-right animated--grow-in" role="menu">
                                <h6 class="dropdown-header">alerts center</h6>
                                <a class="d-flex align-items-center dropdown-item" href="#">
                                    <div class="mr-3">
                                        <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                    </div>
                                    <div><span class="small text-gray-500">December 12, 2019</span>
                                        <p>A new monthly report is ready to download!</p>
                                    </div>
                                </a>
                                <a class="d-flex align-items-center dropdown-item" href="#">
                                    <div class="mr-3">
                                        <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                    </div>
                                    <div><span class="small text-gray-500">December 7, 2019</span>
                                        <p>$290.29 has been deposited into your account!</p>
                                    </div>
                                </a>
                                <a class="d-flex align-items-center dropdown-item" href="#">
                                    <div class="mr-3">
                                        <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                    </div>
                                    <div><span class="small text-gray-500">December 2, 2019</span>
                                        <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                    </div>
                                </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
						</div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="text-center d-flex d-sm-flex justify-content-xl-center mb-4" style="padding-left: 59px;padding-top: 40px;margin: 0px;"><img class="d-flex justify-content-center align-items-center m-auto justify-content-lg-center align-items-lg-center" style="padding-right: 0px;margin: 0 auto;padding-left: 0px;"></div>
                <div>
                    <div class="card shadow-lg o-hidden border-0 my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="m-auto p-5">
                                        <div class="text-center">
                                            <h4 class="text-dark mb-4">Create a Circular</h4>
                                        </div>
                                        <form class="user">
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="First Name" name="first_name"></div>
                                                <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="Last Name" name="last_name"></div>
                                            </div>
                                            <div class="form-group"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email Address" name="email"></div>
                                            <div style="padding-left:12px;height:420px;max-width:340px;margin:0 auto;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
												<input type="radio" value="this"><span> This</span><br>
												As you can see,jhgjhvjvjvjvuvv<br> once there's<br> enough text in this box,<br> 
												the box will<br> grow scroll bars...<br> that's why we call<br> it a scroll box!<br>
												You could also place<br> an image into the<br> scroll box.
												As you can see,jhgjhvjvjvjvuvv<br> once there's<br> enough text in this box,<br> 
												the box will<br> grow scroll bars...<br> that's why we call<br> it a scroll box!<br>
												You could also place<br> an image into the<br> scroll box.
												As you can see,jhgjhvjvjvjvuvv<br> once there's<br> enough text in this box,<br> 
												the box will<br> grow scroll bars...<br> that's why we call<br> it a scroll box!<br>
												You could also place<br> an image into the<br> scroll box.
												As you can see,jhgjhvjvjvjvuvv<br> once there's<br> enough text in this box,<br> 
												the box will<br> grow scroll bars...<br> that's why we call<br> it a scroll box!<br>
												You could also place<br> an image into the<br> scroll box.
												As you can see,jhgjhvjvjvjvuvv<br> once there's<br> enough text in this box,<br> 
												the box will<br> grow scroll bars...<br> that's why we call<br> it a scroll box!<br>
												You could also place<br> an image into the<br> scroll box.
												As you can see,jhgjhvjvjvjvuvv<br> once there's<br> enough text in this box,<br> 
												the box will<br> grow scroll bars...<br> that's why we call<br> it a scroll box!<br>
												You could also place<br> an image into the<br> scroll box.
											</div>
											
											<div class="alert alert-info beautiful" role="alert"><strong>Info</strong> You have 28 new messages.</div>
                                            <div class="alert alert-info beautiful" role="alert" style="background-color: rgb(234,212,101);color: rgb(5,7,10);"><strong>Info</strong> You have 28 new messages.</div>
                                            <div class="alert alert-info beautiful" role="alert" style="background-color: rgb(238,139,118);color: rgb(10,11,11);"><strong>Info</strong> You have 28 new messages.</div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Password" name="password"></div>
                                                <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Repeat Password" name="password_repeat"></div>
                                            </div><button class="btn btn-primary btn-block text-white btn-user" type="submit">Register Account</button></form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-xl-9">
                            <h4 class="text-dark mb-4" style="padding-left: 0px;width: 138px;margin: 0 auto;">Circular List</h4>
                        </div>
                        <div class="col">
                            <div class="dropdown no-arrow" style="padding-left: 0px;margin: 0 auto;width: 48px;"><a class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button"><span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                <div class="dropdown-menu dropdown-list dropdown-menu-right animated--grow-in"
                                    role="menu">
                                    <h6 class="dropdown-header">alerts center</h6>
                                    <a class="d-flex align-items-center dropdown-item" href="#">
                                        <div class="mr-3">
                                            <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                        </div>
                                        <div><span class="small text-gray-500">December 12, 2019</span>
                                            <p>A new monthly report is ready to download!</p>
                                        </div>
                                    </a>
                                    <a class="d-flex align-items-center dropdown-item" href="#">
                                        <div class="mr-3">
                                            <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                        </div>
                                        <div><span class="small text-gray-500">December 7, 2019</span>
                                            <p>$290.29 has been deposited into your account!</p>
                                        </div>
                                    </a>
                                    <a class="d-flex align-items-center dropdown-item" href="#">
                                        <div class="mr-3">
                                            <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                        </div>
                                        <div><span class="small text-gray-500">December 2, 2019</span>
                                            <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                        </div>
                                    </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-xl-9" style="padding-left: 0px;">
                            <nav style="padding-left: 0px;width: 260px;margin: 0 auto;">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col">
                            <h4 class="text-dark mb-4" style="padding-left: 0px;padding-top: 4px;padding-right: 0px;width: 200px;margin: 0 auto;">Results found:</h4>
                        </div>
                    </div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div>
                        <div class="row">
                            <div class="col text-center">
                                <div class="card">
                                    <div class="card-body text-left">
                                        <h4 class="card-title">Title</h4>
                                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button"
                                            style="background-color: rgb(64,132,63);">Button</button><button class="btn btn-primary" type="button">Button</button><button class="btn btn-primary" type="button" style="background-color: rgb(227,64,28);">Button</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <div class="card">
                                    <div class="card-body text-left">
                                        <h4 class="card-title">Title</h4>
                                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button"
                                            style="background-color: rgb(64,132,63);">Button</button><button class="btn btn-primary" type="button">Button</button><button class="btn btn-primary" type="button" style="background-color: rgb(227,64,28);">Button</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center"><div class="pricing8 py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h3 class="mb-3">Pricing to make your Work Effective</h3>
        <h6 class="subtitle font-weight-normal">We offer 100% satisafaction and Money back Guarantee</h6>
      </div>
    </div>
    <!-- row  -->
    <div class="row mt-4">
      <!-- column  -->
      <div class="col-md-4 ml-auto pricing-box align-self-center">
        <div class="card mb-4">
          <div class="card-body p-4 text-center">
            <h5 class="font-weight-normal">Regular Plan</h5>
            <sup>$</sup><span class="text-dark display-5">39</span>
            <h6 class="font-weight-light font-14">YEARLY</h6>
            <p class="mt-4">The Master license allows you to customize, store and even host your website using your platform</p>
          </div>
          <a class="btn btn-info-gradiant p-3 btn-block border-0 text-white" href="#">CHOOSE PLAN </a>
        </div>
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-md-4 ml-auto pricing-box align-self-center">
        <div class="card mb-4">
          <div class="card-body p-4 text-center">
            <h5 class="font-weight-normal">Master Plan</h5>
            <sup>$</sup><span class="text-dark display-5">49</span>
            <h6 class="font-weight-light font-14">YEARLY</h6>
            <p class="mt-4">The Master license allows you to customize, store and even host your website using your platform</p>
          </div>
          <a class="btn btn-danger-gradiant p-3 btn-block border-0 text-white" href="#">CHOOSE PLAN </a>
        </div>
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-md-4 ml-auto pricing-box align-self-center">
        <div class="card mb-4">
          <div class="card-body p-4 text-center">
            <h5 class="font-weight-normal">Premium Plan</h5>
            <sup>$</sup><span class="text-dark display-5">69</span>
            <h6 class="font-weight-light font-14">YEARLY</h6>
            <p class="mt-4">The Master license allows you to customize, store and even host your website using your platform</p>
          </div>
          <a class="btn btn-info-gradiant p-3 btn-block border-0 text-white" href="#">CHOOSE PLAN </a>
        </div>
      </div>
      <!-- column  -->
    </div>
  </div>
</div></div>
                        </div>
                        <div class="row">
                            <div class="col text-center"><div class="pricing1 py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h3 class="mt-3 font-weight-medium mb-1">Pricing to make your Work Effective</h3>
        <h6 class="subtitle">We offer 100% satisafaction and Money back Guarantee</h6>
        <div class="switcher-box mt-4 d-flex align-items-center justify-content-center">
          <span class="font-14 font-weight-medium">MONTHLY</span>
          <div class="onoffswitch position-relative mx-2">
            <input type="checkbox" name="onoffswitch1" class="onoffswitch-checkbox d-none" id="myonoffswitch1">
            <label class="onoffswitch-label d-block overflow-hidden" for="myonoffswitch1">
							<span class="onoffswitch-inner d-block"></span>
							<span class="onoffswitch-switch d-block bg-white position-absolute"></span>
						</label>
          </div>
          <span class="font-14 font-weight-medium">YEARLY</span>
        </div>
      </div>
    </div>
    <!-- Row  -->
    <div class="row mt-5">
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card text-center card-shadow on-hover border-0 mb-4">
          <div class="card-body font-14">
            <h5 class="mt-3 mb-1 font-weight-medium">BASIC</h5>
            <h6 class="subtitle font-weight-normal">For Team of 3-5 Members</h6>
            <div class="pricing my-3">
              <sup>$</sup>
              <span class="monthly display-5">28</span>
              <span class="yearly display-5">240</span>
              <small class="monthly">/mo</small>
              <small class="yearly">/yr</small>
              <span class="d-block">Save <span class="font-weight-medium">$20</span> a Year</span>
            </div>
            <ul class="list-inline">
              <li class="d-block py-2">Perfect of Small Team</li>
              <li class="d-block py-2">Unlimited Invoices</li>
              <li class="d-block py-2">Project Management</li>
              <li class="d-block py-2">&nbsp;</li>
              <li class="d-block py-2">&nbsp;</li>
            </ul>
            <div class="bottom-btn">
              <a class="btn btn-success-gradiant btn-md text-white btn-block" href="#f1"><span>Choose Plan</span></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card text-center card-shadow on-hover border-0 mb-4">
          <div class="card-body font-14">
            <span class="badge badge-inverse p-2 position-absolute price-badge font-weight-normal">Popular</span>
            <h5 class="mt-3 mb-1 font-weight-medium">INTERMEDIATE</h5>
            <h6 class="subtitle font-weight-normal">For Team of 5-10 Members</h6>
            <div class="pricing my-3">
              <sup>$</sup>
              <span class="monthly display-5">39</span>
              <span class="yearly display-5">400</span>
              <small class="monthly">/mo</small>
              <small class="yearly">/yr</small>
              <span class="d-block">Save <span class="font-weight-medium">$30</span> a Year</span>
            </div>
            <ul class="list-inline">
              <li class="d-block py-2">Perfect of Small Team</li>
              <li class="d-block py-2">Unlimited Invoices</li>
              <li class="d-block py-2">Project Management</li>
              <li class="d-block py-2">Team Management</li>
              <li class="d-block py-2">&nbsp;</li>
            </ul>
            <div class="bottom-btn">
              <a class="btn btn-danger-gradiant btn-md text-white btn-block" href="#f1"><span>Choose Plan</span></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card text-center card-shadow on-hover border-0 mb-4">
          <div class="card-body font-14">
            <h5 class="mt-3 mb-1 font-weight-medium">HIGH CLASS</h5>
            <h6 class="subtitle font-weight-normal">For Team of 10-25 Members</h6>
            <div class="pricing my-3">
              <sup>$</sup>
              <span class="monthly display-5">58</span>
              <span class="yearly display-5">600</span>
              <small class="monthly">/mo</small>
              <small class="yearly">/yr</small>
              <span class="d-block">Save <span class="font-weight-medium">$50</span> a Year</span>
            </div>
            <ul class="list-inline">
              <li class="d-block py-2">Perfect of Small Team</li>
              <li class="d-block py-2">Unlimited Invoices</li>
              <li class="d-block py-2">Project Management</li>
              <li class="d-block py-2">Team Management</li>
              <li class="d-block py-2">Time Tracking</li>
            </ul>
            <div class="bottom-btn">
              <a class="btn btn-success-gradiant btn-md text-white btn-block" href="#f1"><span>Choose Plan</span></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card text-center card-shadow on-hover border-0 mb-4">
          <div class="card-body font-14">
            <h5 class="mt-3 mb-1 font-weight-medium">SUPREME</h5>
            <h6 class="subtitle font-weight-normal">For Team of 25-100 Members</h6>
            <div class="pricing my-3">
              <sup>$</sup>
              <span class="monthly display-5">99</span>
              <span class="yearly display-5">1000</span>
              <small class="monthly">/mo</small>
              <small class="yearly">/yr</small>
              <span class="d-block">Save <span class="font-weight-medium">$80</span> a Year</span>
            </div>
            <ul class="list-inline">
              <li class="d-block py-2">Perfect of Small Team</li>
              <li class="d-block py-2">Unlimited Invoices</li>
              <li class="d-block py-2">Project Management</li>
              <li class="d-block py-2">Team Management</li>
              <li class="d-block py-2">Time Tracking</li>
            </ul>
            <div class="bottom-btn">
              <a class="btn btn-success-gradiant btn-md text-white btn-block" href="#f1"><span>Choose Plan</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
                        </div>
                        <div class="row">
                            <div class="col text-center"><div class="card-deck-wrapper">
								  <div class="card-deck">
									<div class="card">
									  <img class="card-img-top" src="..." alt="Card image cap">
									  <div class="card-block">
										<h4 class="card-title">Card title</h4>
										<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
										<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
									  </div>
									</div>
									<div class="card">
									  <img class="card-img-top" src="..." alt="Card image cap">
									  <div class="card-block">
										<h4 class="card-title">Card title</h4>
										<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
										<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
									  </div>
									</div>
									<div class="card">
									  <img class="card-img-top" src="..." alt="Card image cap">
									  <div class="card-block">
										<h4 class="card-title">Card title</h4>
										<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
										<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
									  </div>
									</div>
									
								  </div><br>
								  <div class="card-deck">
								  
								  
								    <a style="text-decoration: none;" href="login.html">
										<div class="card">
										  <img class="card-img-top" src="..." alt="Card image cap">
										  <div class="card-block">
											<small class="text-muted">Last updated 3 mins ago</small>
											<h4 style="color: black" class="card-title">Card title</h4>
											<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
											<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
										    
										  </div>
										</div>
									</a>
									
									
									<div class="card">
									  <img class="card-img-top" src="..." alt="Card image cap">
									  <div class="card-block">
										<h4 class="card-title">Card title</h4>
										<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
										<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
									  </div>
									</div>
									<div class="card">
									  <img class="card-img-top" src="..." alt="Card image cap">
									  <div class="card-block">
										<h4 class="card-title">Card title</h4>
										<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
										<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
									  </div>
									</div>
								  </div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
                <div style="height: 25px;"></div>
                <div>
                    <div class="row">
                        <div class="col-xl-9" style="padding-left: 0px;">
                            <nav style="padding-left: 0px;width: 260px;margin: 0 auto;">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
            </div>
        </footer>
    </div>
	
	
	<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
	</div>
    <script src="home_assets/js/jquery.min.js"></script>
    <script src="home_assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="home_assets/js/Advanced-Pricing-Cards.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="home_assets/js/theme.js"></script>
</body>

</html>